{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="row">

            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col">
                        <h2>Productos</h2>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-4">
                            <a href="{{ path('app_products_show-product', {'title': product.title, 'id': product.identifier}) }}">
                                <div class="card">
                                    <img src="{{ product.picture }}" alt="HTTP Cliente" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.title }}</h5>
                                        <p class="card-text">{{ product.details }}</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
